{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">script</script>#}
{#    <title>{{ word.word.title }}</title>#}
{#</head>#}
{% extends 'library/base.html' %}

{% block title %}
{{ word.word.title }}
{% endblock %}

{% block style %}
    <style>
        .content {
            width: 70%;
            margin: auto;
            white-space: pre-line;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <h3>{{ word.word.title }}</h3> <br>
        {% for defins in word.definitions.all %}
            {{ defins.type }}<br>
            {% for defin in defins.definitions.all %}
                {{ defin.definition }}<br>
            {% endfor %}
        {% endfor %}

        {% for trans in word.translations.all %}
            <b>Translation to {{ trans.translation_to }}:</b>
            {{ trans.translation }}
        {% endfor %}
    </div>
{% endblock %}
{#</body>#}
{#</html>#}

