{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">script</script>#}
{#    <title>{{ word.word.title }}</title>#}
{#</head>#}
{% extends 'library/base.html' %}

{% block title %}
{{ word.word.title }}
{% endblock %}

{% block style %}
    <style>
        .content {
            width: 70%;
            margin: auto;
            white-space: pre-line;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <h3>{{ word.word.title }}</h3> <br>
        {% if v_word %}
            <a href="{% url 'vocabulary:delete' v_word.pk word.pk %}">
                Delete this word from your vocabulary
            </a><br>
            Last review: {{ v_word.last_review.date }}<br>
            Next review: {{ v_word.next_time.date }}<br>
            Reviews: {{ v_word.repetitions }}<br>
            Easines: {{ v_word.easiness_factor }}
        {% else %}
            <a href="{% url 'vocabulary:add' word.pk %}">Add this word to your vocabulary</a>
        {% endif %}
        {% for defins in word.definitions.all %}
            {{ defins.type }}<br>
            {% for defin in defins.definitions.all %}
                {{ defin.definition }}<br>
            {% endfor %}
        {% endfor %}

        {% for trans in word.translations.all %}
            <b>Translation to {{ trans.translation_to }}:</b>
            {{ trans.translation }}
        {% endfor %}
    </div>
{% endblock %}
{#</body>#}
{#</html>#}

