{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{% extends 'library/base.html' %}

{% block title %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block style %}
    <style>
        .content {
            width: 70%;
            margin: auto;
        }
        img {
            width: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}"/> <br>
        {% endif %}
        {{ user.first_name }} {{ user.last_name }} ({{ user }}) <br>
        {% if user == request.user %}
            {{ user.email }}<br>
        {% endif %}
        <b>About:</b><br>
        {{ user.profile.bio }}<br>
        <h3>Lists</h3>
        <a href="{% url 'library:list' 'Favourite' %}">Favourites</a><br>
        <a href="{% url 'library:list' 'Future' %}">For future</a><br>
        <a href="{% url 'library:list' 'Reading' %}">Reading</a><br>
        <a href="{% url 'library:private' %}">Private</a><br>
    </div>
{% endblock %}
{#</body>#}
{#</html>#}