{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#  {% extends "website-base.html" %} #}
{% extends 'library/base.html' %}

{% block title %}
Sign in
{% endblock %}

{% block style %}
    <style>
        .content {
            width: 70%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="login" class="content">
        <form class="form-horizontal" name="LoginForm" action="/user/login/" method="post"post>
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{#</body>#}
{#</html>#}